*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-bottom:  10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}
.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__video-container {
  width: 711px;
  height: 386px;
  object-fit: cover;
  margin-bottom: 13px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-form {
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  align-items: flex-end;
}
.search-form__fieldset {
  border: none;
  margin-bottom: 3px;
  width: fit-content;
}
.search-form__textfield {
  width: 225px;
}
.search-form__submit-button {
  width: 194px;
  margin-bottom: 3px;
}


.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  margin-bottom: 8px;
}
input {
  width: 100%;
  height: 22px;
  color: #fff;
  background: transparent;
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 12px 0px;
}
input:focus-visible {
  border: 2px solid #fff;
}
.search-form__checkbox-list {
  width: 212px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}
.search-form__label + input:focus-visible {
  outline: 1px solid white;
}
.search-form__textfield:focus {
  outline: none;
  border: none;
}
.search-form__textfield:focus-visible {
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;
  box-sizing: border-box;
  display: inline-flex; /* Меняем на inline-flex для центрирования */
  align-items: center;  /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

input:checked + .search-form__pseudo-checkbox::before {
  transform: scale(1);
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}
.content__details {
  width: 399px;
  height: 100%;
}
.content__list {
  width: 399px;
  display: contents;
  gap: 28px;
}
.content__list-container {
  width: 100%;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  width: 390px;
  display: flex;
}
.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
}
.content__card-link:active {
background: #545050;
text-decoration: none;
}
.content__card-link_current {
    background: #545050;
}
.content__video-card-title {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 0px 4px 1px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  letter-spacing: 0;
  color: #fff;
  padding-left: 1px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__card-link {
  width: 100%;
  height: 100%;
  display: flex;
}
.content__video-card {
  width: 100%;
  height: 100%;
  display: flex;
}
.content__video-card-description-container {
  width: 196px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.title {
  font-family: "oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 22px;
}
.content__accent {
  color: #5c5250;
}

.more-button {
  display: block;
  width: 99%;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.result__video-container,
.content__list-container {
  position: relative;
}
.button {
  background: transparent;
  height: 34px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border: #fff 1px solid;
  cursor: pointer;
  flex-shrink: 0;
}
.button:active {
  background: #545050;
}
.button:hover {
  text-decoration: underline;
}